
<img src="img/viu_logo.png" width="200">

## 01MIAR - Estructuras de datos, +Pandas

![logo](img/python_logo.png)

*Ivan Fuertes*

# Operaciones en pandas
- Búsqueda
- Ordenar
- Operaciones matemáticas entre objetos
- apply(lambda)
- Estadística descriptiva
- Ejemplo fuel efficiency

#### Búsqueda

In [1]:
import pandas as pd
import numpy as np

In [2]:
rand_matrix = np.random.randint(6,size=(2,3))
frame = pd.DataFrame(rand_matrix , columns=list('ABC'))
display(frame)

   A  B  C
0  1  2  3
1  0  1  1

In [3]:
# buscando columnas (DataFrame como dic, busca en claves)
'A' in frame

True

In [4]:
# buscando valores
display(frame.isin([3,2])) # --> mask de respuesta (valores que son 3 o 2)

       A      B      C
0  False   True   True
1  False  False  False

In [5]:
# Contar el número de ocurrencias
print(frame.isin([5]).values.sum())
display(frame.isin([5])) #devuelve una mask con valores true si el elemento es 4
type(frame.isin([1]).values) # pandas es una capa alrededor de numpy

0

       A      B      C
0  False  False  False
1  False  False  False

numpy.ndarray

In [6]:
# Cuántos valores son >= 4
mask = frame >= 4
print(mask.values.sum())
display(mask)

0

       A      B      C
0  False  False  False
1  False  False  False

#### Ordenación

In [7]:
from random import shuffle

rand_matrix = np.random.randint(20,size=(5,4))

indices = list(range(5))
shuffle(indices) # mezcla indices

frame = pd.DataFrame(rand_matrix , columns=list('DACB'), index=indices)
display(frame)

    D   A   C   B
1   1  12   7   3
0  15   2   7  17
4   4   5   5  15
3   8  10  17   5
2   5   1  19  17

In [8]:
# ordenar por índice
display(frame.sort_index(ascending=True))

    D   A   C   B
0  15   2   7  17
1   1  12   7   3
2   5   1  19  17
3   8  10  17   5
4   4   5   5  15

In [9]:
#ordenar por columna
display(frame.sort_index(axis=1, ascending=True))

    A   B   C   D
1  12   3   7   1
0   2  17   7  15
4   5  15   5   4
3  10   5  17   8
2   1  17  19   5

In [10]:
# ordenar filas por valor en columna
display(frame.sort_values(by='A', ascending=False))

    D   A   C   B
1   1  12   7   3
3   8  10  17   5
4   4   5   5  15
0  15   2   7  17
2   5   1  19  17

In [11]:
# ordenar columnas por valor en fila
display(frame.sort_values(by=1, axis=1, ascending=True))

    D   B   C   A
1   1   3   7  12
0  15  17   7   2
4   4  15   5   5
3   8   5  17  10
2   5  17  19   1

In [12]:
# ordenar por valor en columna y guardar cambios
frame.sort_values(by='A', ascending=False, inplace=True)
display(frame)

    D   A   C   B
1   1  12   7   3
3   8  10  17   5
4   4   5   5  15
0  15   2   7  17
2   5   1  19  17

#### Ranking
- Construir un ranking de valores

In [13]:
display(frame)

    D   A   C   B
1   1  12   7   3
3   8  10  17   5
4   4   5   5  15
0  15   2   7  17
2   5   1  19  17

In [14]:
display(frame.rank(method='average'))

     D    A    C    B
1  1.0  5.0  2.5  1.0
3  4.0  4.0  4.0  2.0
4  2.0  3.0  1.0  3.0
0  5.0  2.0  2.5  4.5
2  3.0  1.0  5.0  4.5

In [ ]:
# Imprimir, uno a uno, los valores de la columna 'C' de mayor a menor
for x in frame.sort_values(by='C', ascending=False)['C'].values:
    print(x)

# Operaciones

Operaciones matemáticas entre objetos

In [15]:
matrixA = np.random.randint(100,size=(4,4))
matrixB = np.random.randint(100,size=(4,4))
frameA = pd.DataFrame(matrixA)
frameB = pd.DataFrame(matrixB)
display(frameA)
display(frameB)

    0   1   2   3
0  15  31  38  71
1  99  70  41   5
2  86  80   5  94
3  46  27  92  21

    0   1   2   3
0  48  80  37  29
1  55  80  93  17
2  45  84  95  21
3  33  43  74   3

In [ ]:
# a través de métodos u operadores
display(frameA + frameB == frameA.add(frameB))
display(frameA + frameB)

In [ ]:
display(frameB - frameA == frameB.sub(frameA))
display(frameB - frameA)

In [ ]:
# si los frames no son iguales, valor por defecto NaN
frameC = pd.DataFrame(np.random.randint(100,size=(3,3)))
display(frameA)
display(frameC)
display(frameA + frameC)

In [ ]:
# se puede especificar el valor por defecto con el argumento fill_value
display(frameA.sub(frameC, fill_value=0))

Operadores aritméticos solo válidos en elementos aceptables

In [ ]:
frameD = pd.DataFrame({0: ['a','b'],1:['d','f']})
display(frameD)
frameA - frameD

Operaciones entre Series y DataFrames

In [ ]:
rand_matrix = np.random.randint(10, size=(3, 4))
df = pd.DataFrame(rand_matrix , columns=list('ABCD'))
display(df)
display(type(df.iloc[0]))
# # uso común, averiguar la diferencia entre una fila y el resto
display(df - df.iloc[0])
# # Por columnas cómo se restaría
display(df.sub(df['A'], axis=0))

pandas se basa en NumPy, np operadores binarios y unarios son aceptables 

| Tipo | Operación | Descripción |
|:---------|:-----|:-----|
| Unario | *abs* | Valor absoluto de cada elemento |
| | *sqrt* | Raíz cuadrada de cada elemento |
| | *exp* | e^x, siendo x cad elemento |
| | *log, log10, log2* | Logaritmos en distintas bases de cada elemento |
| | *sign* | Retorna el signo de cada elemento (-1 para negativo, 0 o 1 para positivo) |
| | *ceil* | Redondea cada elemento por arriba |
| | *floor* | Redondea cada elemento por abajo |
| | *isnan* | Retorna si cada elemento es Nan |
| | *cos, sin, tan* | Operaciones trigonométricas en cada elemento |
| | *arccos, arcsin, arctan* | Inversas de operaciones trigonométricas en cada elemento |
| Binario | *add* | Suma de dos arrays |
| | *substract* | Resta de dos arrays |
| | *multiply* | Multiplicación de dos arrays |
| | *divide* | División de dos arrays |
| | *maximum, minimum* | Retorna el valor máximo/mínimo de cada pareja de elementos |
| | *equal, not_equal* | Retorna la comparación (igual o no igual) de cada pareja de elementos |
| | *greater, greater_equal, less, less_equal* | Retorna la comparación (>, >=, <, <= respectivamente) de cada pareja de elementos |

Aplicación de funciones a medida con lambda

In [16]:
rand_matrix = np.random.randint(10, size=(3, 4))
frame = pd.DataFrame(rand_matrix , columns=list('ABCD'))
display(frame)
print(frame.apply(lambda x : x.max() - x.min())) # diferencia por columna

   A  B  C  D
0  1  5  9  0
1  7  0  2  8
2  4  4  2  3

A    6
B    5
C    7
D    8
dtype: int64

In [ ]:
# diferencia entre min y max por fila (no columna)
rand_matrix = np.random.randint(10, size=(3, 4))
frame = pd.DataFrame(rand_matrix , columns=list('ABCD'))
display(frame)
print(frame.apply(lambda x : x.max() - x.min(), axis = 1)) # diferencia por fila

# Estadística descriptiva
- Análisis preliminar de los datos
- Para Series y DataFrame

In [17]:
diccionario = { "nombre" : ["Marisa","Laura","Manuel", "Carlos"], "edad" : [34,34,11, 30], 
               "puntos" : [98,12,98,np.nan], "genero": ["F", "F", "M", "M"] }
frame = pd.DataFrame(diccionario)
display(frame)
display(frame.describe(include='all')) # datos generales de elementos

   nombre  edad  puntos genero
0  Marisa    34    98.0      F
1   Laura    34    12.0      F
2  Manuel    11    98.0      M
3  Carlos    30     NaN      M

        nombre       edad     puntos genero
count        4   4.000000   3.000000      4
unique       4        NaN        NaN      2
top     Marisa        NaN        NaN      F
freq         1        NaN        NaN      2
mean       NaN  27.250000  69.333333    NaN
std        NaN  10.996211  49.652123    NaN
min        NaN  11.000000  12.000000    NaN
25%        NaN  25.250000  55.000000    NaN
50%        NaN  32.000000  98.000000    NaN
75%        NaN  34.000000  98.000000    NaN
max        NaN  34.000000  98.000000    NaN

In [18]:
print(type(frame['edad']))

<class 'pandas.core.series.Series'>

In [19]:
# operadores básicos
frame.sum()

nombre    MarisaLauraManuelCarlos
edad                          109
puntos                      208.0
genero                       FFMM
dtype: object

In [20]:
frame.mean(numeric_only=True)

edad      27.250000
puntos    69.333333
dtype: float64

In [56]:
frame.cumsum()

                    nombre  edad  puntos genero
0                   Marisa    34    98.0      F
1              MarisaLaura    68   110.0     FF
2        MarisaLauraManuel    79   208.0    FFM
3  MarisaLauraManuelCarlos   109     NaN   FFMM

In [57]:
frame.count()

nombre    4
edad      4
puntos    3
genero    4
dtype: int64

In [50]:
frame['edad'].std()

10.996211468804457

In [58]:
frame['edad'].idxmax()

0

In [53]:
frame['puntos'].idxmin()

1

In [59]:
# frame con las filas con los valores maximos de una columna
print(frame['puntos'].max())
display(frame[frame['puntos'] == frame['puntos'].max()])

98.0

   nombre  edad  puntos genero
0  Marisa    34    98.0      F
2  Manuel    11    98.0      M

## Agregaciones

In [30]:
display(frame)
frame.groupby('genero').count()

   nombre  edad  puntos genero
0  Marisa    34    98.0      F
1   Laura    34    12.0      F
2  Manuel    11    98.0      M
3  Carlos    30     NaN      M

        nombre  edad  puntos
genero
F            2     2       2
M            2     2       1

In [31]:
display(frame.groupby('genero').mean())

        edad  puntos
genero
F       34.0    55.0
M       20.5    98.0

In [32]:
display(frame.groupby('genero').max())

        nombre  edad  puntos
genero
F       Marisa    34    98.0
M       Manuel    30    98.0

In [33]:
# funciones de agregación de varias columnas para obtener distintos estadísticos
display(frame.groupby('genero')[['edad', 'puntos']].aggregate(['min', np.median, max]))

       edad            puntos
        min median max    min median   max
genero
F        34   34.0  34   12.0   55.0  98.0
M        11   20.5  30   98.0   98.0  98.0

In [34]:
# Filtrado de los datos en el que el conjunto no supera una media determinada 
def media(x):
    return x["edad"].mean() > 30

frame.groupby('genero').filter(media)

   nombre  edad  puntos genero
0  Marisa    34    98.0      F
1   Laura    34    12.0      F

# Ejemplo Fuel efficiency
- https://archive.ics.uci.edu/ml/datasets/Auto+MPG

In [35]:
import pandas as pd
path = 'http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data'

mpg_data = pd.read_csv(path, delim_whitespace=True, header=None,
            names = ['mpg', 'cilindros', 'desplazamiento','potencia',
            'peso', 'aceleracion', 'año', 'origen', 'nombre'],
            na_values='?')

In [36]:
display(mpg_data.sample(5))

,mpg,cilindros,desplazamiento,potencia,peso,aceleracion,año,origen,nombre
79,26.0,4,96.0,69.0,2189.0,18.0,72,2,renault 12 (sw)
371,29.0,4,135.0,84.0,2525.0,16.0,82,1,dodge aries se
95,12.0,8,455.0,225.0,4951.0,11.0,73,1,buick electra 225 custom
11,14.0,8,340.0,160.0,3609.0,8.0,70,1,plymouth 'cuda 340
75,14.0,8,318.0,150.0,4077.0,14.0,72,1,plymouth satellite custom (sw)

In [37]:
display(mpg_data.describe(include='all'))

,mpg,cilindros,desplazamiento,potencia,peso,aceleracion,año,origen,nombre
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000,398.000000,398
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,305
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ford pinto
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050,1.572864,NaN
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627,0.802055,NaN
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000,1.000000,NaN
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000,1.000000,NaN
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000,1.000000,NaN
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000,2.000000,NaN
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000,3.000000,NaN

In [38]:
mpg_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   mpg             398 non-null    float64
 1   cilindros       398 non-null    int64
 2   desplazamiento  398 non-null    float64
 3   potencia        392 non-null    float64
 4   peso            398 non-null    float64
 5   aceleracion     398 non-null    float64
 6   año             398 non-null    int64
 7   origen          398 non-null    int64
 8   nombre          398 non-null    object
dtypes: float64(5), int64(3), object(1)
memory usage: 28.1+ KB

### Correlaciones entre valores

pandas incluye métodos para analizar correlaciones
- Relación matemática entre dos variables (-1 negativamente relacionadas, 1 positivamente relacionadas, 0 sin relación)
- obj.corr(obj2) --> medida de correlación entre los datos de ambos objetos
- https://blogs.oracle.com/ai-and-datascience/post/introduction-to-correlation

In [39]:
mpg_data['mpg'].corr(mpg_data['peso']) # + mpg = - peso

-0.8317409332443352

In [40]:
mpg_data['peso'].corr(mpg_data['aceleracion']) # + peso = - aceleracion

-0.4174573199403932

### Correlaciones entre todos los valores

In [41]:
mpg_data.corr()

,mpg,cilindros,desplazamiento,potencia,peso,aceleracion,año,origen
mpg,1.000000,-0.775396,-0.804203,-0.778427,-0.831741,0.420289,0.579267,0.563450
cilindros,-0.775396,1.000000,0.950721,0.842983,0.896017,-0.505419,-0.348746,-0.562543
desplazamiento,-0.804203,0.950721,1.000000,0.897257,0.932824,-0.543684,-0.370164,-0.609409
potencia,-0.778427,0.842983,0.897257,1.000000,0.864538,-0.689196,-0.416361,-0.455171
peso,-0.831741,0.896017,0.932824,0.864538,1.000000,-0.417457,-0.306564,-0.581024
aceleracion,0.420289,-0.505419,-0.543684,-0.689196,-0.417457,1.000000,0.288137,0.205873
año,0.579267,-0.348746,-0.370164,-0.416361,-0.306564,0.288137,1.000000,0.180662
origen,0.563450,-0.562543,-0.609409,-0.455171,-0.581024,0.205873,0.180662,1.000000

In [42]:
#año y origen no parecen correlacionables
#eliminar columnas de la correlacion
corr_data = mpg_data.drop(['año','origen'],axis=1).corr()
display(corr_data)

,mpg,cilindros,desplazamiento,potencia,peso,aceleracion
mpg,1.000000,-0.775396,-0.804203,-0.778427,-0.831741,0.420289
cilindros,-0.775396,1.000000,0.950721,0.842983,0.896017,-0.505419
desplazamiento,-0.804203,0.950721,1.000000,0.897257,0.932824,-0.543684
potencia,-0.778427,0.842983,0.897257,1.000000,0.864538,-0.689196
peso,-0.831741,0.896017,0.932824,0.864538,1.000000,-0.417457
aceleracion,0.420289,-0.505419,-0.543684,-0.689196,-0.417457,1.000000

In [44]:
# representación gráfica matplotlib
import matplotlib.pyplot as plt

In [45]:
# representación gráfica
corr_data.style.background_gradient(cmap=plt.get_cmap('RdYlGn'), axis=1)

In [46]:
# correlación más negativa
mpg_data.drop(['año','origen'],axis=1).corr().idxmin()

mpg                   peso
cilindros              mpg
desplazamiento         mpg
potencia               mpg
peso                   mpg
aceleracion       potencia
dtype: object

In [47]:
# correlación más positiva
mpg_data.drop(['año','origen'],axis=1).corr().idxmax()  #consigo misma....

mpg                          mpg
cilindros              cilindros
desplazamiento    desplazamiento
potencia                potencia
peso                        peso
aceleracion          aceleracion
dtype: object

In [48]:
# tabla similar con las correlaciones más positivas (evitar parejas del mismo valor)
positive_corr = mpg_data.drop(['año','origen'],axis=1).corr()
np.fill_diagonal(positive_corr.values, 0)
display(positive_corr)
positive_corr.idxmax()

,mpg,cilindros,desplazamiento,potencia,peso,aceleracion
mpg,0.000000,-0.775396,-0.804203,-0.778427,-0.831741,0.420289
cilindros,-0.775396,0.000000,0.950721,0.842983,0.896017,-0.505419
desplazamiento,-0.804203,0.950721,0.000000,0.897257,0.932824,-0.543684
potencia,-0.778427,0.842983,0.897257,0.000000,0.864538,-0.689196
peso,-0.831741,0.896017,0.932824,0.864538,0.000000,-0.417457
aceleracion,0.420289,-0.505419,-0.543684,-0.689196,-0.417457,0.000000

mpg                  aceleracion
cilindros         desplazamiento
desplazamiento         cilindros
potencia          desplazamiento
peso              desplazamiento
aceleracion                  mpg
dtype: object

In [49]:
positive_corr.style.background_gradient(cmap=plt.get_cmap('RdYlGn'), axis=1, vmin=-1.0, vmax=1.0)