# Valenbici

<img src="../img/valenbici.jpg">

- http://www.valenbisi.es/service/carto/json
- http://www.valenbisi.es/service/stationdetails/valence/63

In [1]:
import pandas as pd

In [2]:
from os import path
bicis_path = path.join('res','estaciones_bici.csv')

In [3]:
bicis = pd.read_csv(bicis_path, sep=';')

In [4]:
data = bicis[['station', 'total', 'download_date', 'available']]

In [5]:
display(data.head())

   station  total            download_date  available
0       64     20  2019-02-10 17:25:37.787          9
1       73     20  2019-02-10 17:25:37.787          6
2       63     20  2019-02-10 18:13:39.827         20
3       64     20  2019-02-10 18:13:39.827          6
4       65     19  2019-02-10 18:13:39.827          9

In [6]:
display(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27547 entries, 0 to 27546
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   station        27547 non-null  int64
 1   total          27547 non-null  int64
 2   download_date  27547 non-null  object
 3   available      27547 non-null  int64
dtypes: int64(3), object(1)
memory usage: 861.0+ KB

None

In [7]:
display(data.describe(include='all'))

             station         total            download_date     available
count   27547.000000  27547.000000                    27547  27547.000000
unique           NaN           NaN                      105           NaN
top              NaN           NaN  2019-02-11 09:14:47.430           NaN
freq             NaN           NaN                      276           NaN
mean      138.449196     19.915381                      NaN      8.974444
std        79.657747      5.570912                      NaN      7.307137
min         1.000000     10.000000                      NaN      0.000000
25%        69.000000     15.000000                      NaN      3.000000
50%       139.000000     20.000000                      NaN      8.000000
75%       207.000000     20.000000                      NaN     14.000000
max       276.000000     40.000000                      NaN     40.000000

#### Actividad
- 01 - Carga de datos de csv (estaciones_bici.csv) en un DataFrame
- 02 - Obtención del número de estaciones que tienen un total de 30 bornetas
- 03 - Número de estación con la media más alta de bicis disponibles
- 04 - Realizar el histograma de bicis disponibles de la estación del punto anterior
- 05 - Realizar gráfica con  la línea temporal de bicis disponibles de la estación del punto anterior. Pista, es necesario cambiar el índice a uno tipo fecha